.pdf-image {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: solid;
  border-width: 3px;

  .background {
    position: absolute;
    z-index: 0;
    width: 800px;
  }

  .foreground {
    position: absolute;
    z-index: 1;
    width: 540px;
    height: 200px;
    margin-top: 120px;
    margin-left: 235px;
    text-align: justify;
  }

  .pdf-coverer {
    position: absolute;
    z-index: 2;
  }

}

.buttons {
  margin-top: 1%;
}

.space-right {
  margin-right: 1%;
}

.space-up {
  margin-top: 10%;
}
