<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>


<div fxFlexFill class="outer-container" fxLayoutAlign="center center" fxLayout="column">
  <div class="pdf-image" id="contentToConvert" [ngStyle]="{width: getWidth(), height: getHeight()}">
    <img class="background" src="./../../../assets/TestImage.png" />

    <div class="foreground">
      O texto fica nesse container, definir tamanho no documento scss e mover como necessário com margin-top e margin-left utilizando valores em px.
      <br><br>
      Exemplo de display de variável: {{ code }}
    </div>

    <div class="pdf-coverer" [ngStyle]="{width: getWidth(), height: getHeight()}"></div>
  </div>
  <div class="buttons" fxLayout="row" fxLayoutAlign="center center" [ngStyle]="{width: certWidth}">
    <button (click)="getPDF()">Baixar como PDF</button>
  </div>
</div>
