.outer-container {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 1354px;
  min-height: 657px;
}

.warning-text {
  color: red;
}

.email-field {
  width: 100%;
}

.certificate-link {
  cursor: pointer;
  color: blue;
}
