<div fxFlexFill class="outer-container">
  <div class="row">
    <div fxLayoutAlign="center center" fxLayout="column">
      <img src="./../../../assets/UniforLogo.png" alt="UniforLogo" />
      <h3>
        Diretoria de Pesquisa, Desenvolvimento e Inovação (DPDI)<br /><br />
      </h3>
      <div *ngIf="!approvedEmail">
        <div
          fxLayoutAlign="center center"
          fxLayout="column"
          class="email-field"
        >
          <div [ngStyle]="{ 'margin-bottom': '30px' }" fxLayout="column">
            <button
            mat-stroked-button
            [ngStyle]="{'background': 'gray', 'margin-top': '15px', 'margin-bottom': '15px'}"
            (click)="downloadCertificates()">Gerar Certificados</button>
            <div>Número de certificados esperado: 304</div>
          </div>
          <div [ngStyle]="{ 'margin-bottom': '30px' }" fxLayout="column">
            <input
              [(ngModel)]="downloadPath"
              (ngModelChange)="downloadPath = $event; updatePath()"
              name="download-path"
              placeholder="Caminho para os Certificados (Ex: C:\Users\User\Downloads)"
              autocomplete="off"
            />
            <button
            mat-stroked-button
            [ngStyle]="{'background': 'gray', 'margin-top': '15px', 'margin-bottom': '15px'}"
            (click)="sendEmails()">Enviar Certificados</button>
            <div>Executar apenas com todos os certificados na pasta</div>
          </div>
          <div fxLayout="row">
            <form>
              <input
                required
                [(ngModel)]="email"
                (ngModelChange)="email = $event"
                name="email"
                placeholder="Insira o seu Email"
                autocomplete="off"
              />

              <button type="submit" (click)="fetchData()">Ok</button>
            </form>
          </div>
          <div *ngIf="emptyError" class="warning-text">
            * O campo não deve estar vazio!
          </div>
          <div *ngIf="notFoundError" class="warning-text">
            * O email não foi encontrado!
          </div>
        </div>
      </div>
      <div fxLayoutAlign="start center" fxLayout="column" *ngIf="approvedEmail">
        <h2>
          {{ username }}
        </h2>
        <h3>
          Certificados Disponíveis:
        </h3>
        <h4 *ngFor="let code of codesList; let i = index">
          <div class="certificate-link" (click)="goToLink(i)">
            Trabalho {{ code }}: {{ titlesList[i] }}
          </div>
        </h4>
        <h4>
          <button (click)="cancelEmail()">Cancelar</button>
        </h4>
      </div>
    </div>
    <!-- end col -->
  </div>
  <!-- end row -->
</div>
