.outer-container {
  height: 100%;
  width: 100%;
  background-color: rgb(157, 194, 219);
}

.warning-text {
  color: red;
}

.email-field {
  width: 100%;
}

.certificate-link {
  cursor: pointer;
  color: blue;
}
